<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>CodeSpeedy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <meta property="og:site_name" content="CodeSpeedy"/>
    <meta property="og:title" content="CodeSpeedy"" />
  <meta property=" og:description" content="A code snippet manager for VS Code" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://codespeedy.randyloop.com/public/screenshot.png" />
  <meta property="og:url" content="https://codespeedy.randyloop.com" />
  <script async defer data-website-id="db8187de-a18e-4447-b1f0-20953b2f5997" src="https://a.taonan.lu/ana.js">
  </script>
</head>

<body class="bg-gray-900">
  <div class="pt-24 container mx-auto max-w-[960px]">
    <section class="text-center flex flex-col gap-4 justify-center">
      <!-- <img class="w-24 inline-block self-center" src="/public/logo.png" alt="logo" /> -->
      <!-- <h1 class="font-bold text-5xl text-gray-100">CodeSpeedy</h1> -->
      <h3 class="tracking-wide text-xl text-gray-400 max-auto inline-block px-12 lg:px-48">
        <span
          class="text-gray-100">CodeSpeedy</span> is a simple tool to manage your
        code snippet and sync to your Visual Studio Code immediately.</h3>
      <div class="mt-4 flex gap-4 justify-center">
        <a class="button"
          href="{{ download.downloadLink }}">Download for Mac
          ({{download.size}})</a>
      </div>
      <div class="text-gray-500 text-sm">
        <div>
          {{download.version}} Beta (Windows version is coming soon)
        </div>
        <div class="mt-4">
          <a class="underline text-gray-400" target="_blank"
            href="https://github.com/djyde/codespeedy-feedback/discussions">
            Report bugs or feedback
          </a>
        </div>
      </div>
    </section>
  </div>
  <section class="px-12 lg:px-48 py-12">
    <img src="/public/screenshot.png"/>
  </section>
  <!-- 
  <section class="text-gray-100 text-center">
    <h2 class="text-3xl mb-12">We're still in beta</h2>
    <div>
      You can subscribe to our email list to get notified when we launch.
    </div>
    <form action="https://tinyletter.com/codespeedy" method="post" target="popupwindow"
      onsubmit="window.open('https://tinyletter.com/codespeedy', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1"
        name="embed" /><input type="submit" value="Subscribe" />
    </form>
  </section> -->

  <footer class="my-12 text-gray-400 text-sm text-center">
    Made with 💖 by <a class="underline" href="https://github.com/djyde">Randy</a>
  </footer>
</body>

</html>